.header {
  background-image: url("../images/header-1.jpg");
  background-repeat: round;
  min-height: 860px;
  display: grid;
  // position: relative;
  height: 100%;

  & .top-line {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-content: center;
    height: 120px;
    background-color: black;
    background-color: rgb(0, 0, 0, .35);
    // position: relative;

    & .logo {
      display: grid;
      padding-right: 60px;
    }

    & .navigation {
      display: grid;
      grid-template-columns: repeat(4,max-content);
      align-items: center;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
      font-size: 12.5px;
      transition: 0.2s;
      letter-spacing: 0.7px;
      opacity: 0.90;

      & li:nth-child(1) {
        padding-right: 53.6px;
      }

      & li:nth-child(2) {
        padding-right: 49.6px;
      }

      & li:nth-child(3) {
        padding-right: 46.6px;
      }

      & .navigation__item {
        color: white;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        transition: 0.3s;

        &:hover {
          text-decoration: none;
          color: #94774a;
        }

        &:hover .navigation__icon {
          background-color: #94774a;
          color: #291f10;
        }

        & .navigation__icon {
          transition: 0.3s;
          margin-right: 7px;
          color: #68635e;
          font-size: 12px;
          padding: 4.5px 7px;
          border-radius: 100%;
        }
      }
    }

    & .phone {
      display: grid;
      grid-template-rows: repeat(2,max-content);
      padding-left: 154px;
      grid-gap: 5px;
      align-content: center;

      & .phone__text {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 12px;
        opacity: 0.35;
        letter-spacing: 1.7px;
        display: grid;
        color: white;
        justify-items: end;
      }

      & .phone__style {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        display: grid;
        grid-template-columns: repeat(3,max-content);
        align-items: end;

        & .phone__icon {
          color: #c59d5f;
          font-size: 13px;
          display: grid;
          padding-right: 10px;
        }

        & .small-number {
          font-size: 16px;
          display: grid;
          color: white;
        }

        & .big-number {
          font-size: 24px;
          display: grid;
          padding-left: 6px;
          color: white;
        }
      }
    }
    @media (max-width: 1340px) {
      .phone {
        display: none;
      }
    }
    @media (max-width: 960px) {
      .navigation {
        display: none;
      }
    }
  }

  .slider {
    width: 50%;
    // display: grid;
    // justify-self: center;
    margin: 0 auto;
    position: relative;
    padding: 0 80px;
    top: -60px;
  }

  .slider .slick-arrow {
    position: absolute;
    top: 230px;
    z-index: 10;
    border: none;
    transition: 0.3s;
  }

  .slider .slick-arrow.slick-prev {
    left: 0;
    color: #6d6764;
    font-size: 30px;
    border-radius: 100%;
    // padding-top: 10px;
    // padding-bottom: 7px;
    // padding-right: 16px;
    // padding-left: 13px;
    width: 50px;
    height: 50px;
    background: none;

    &:hover {
      background-color: #322419;
      opacity: 0.75;
      color: #c5c3c3;
    }
  }

  .slider .slick-arrow.slick-next {
    right: 0;
    color: #6d6764;
    font-size: 30px;
    // padding-top: 10px;
    // padding-bottom: 7px;
    // padding-right: 13px;
    // padding-left: 16px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: none;

    &:hover {
      background-color: #322419;
      opacity: 0.75;
      color: #c5c3c3;
    }
  }

  .slider__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .slide__desc {
    display: grid;
    align-content: center;
  }

  .slide__title {
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 1.5px;
    padding-bottom: 40px;
  }

  .slide__text {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25px;
  }
  @media (max-width: 1370px) {
    .slider {
      width: 80%;
    }
  }

  .btn {
    width: 165px;
    height: 46px;
    background-color: #c59d5f;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 39px;
    & .fa-check{
      padding-right: 8px;
    }
  }
  @media (max-width: 1030px) {
    .slider__items {
      & img {
        width: 420px;
      }
    }

    .slider .slick-arrow {
      top: 200px;
    }
  }
  @media (max-width: 935px) {
    .slider .slick-arrow {
      top: 160px;
    }

    .slider {
      & .slide__title {
        font-size: 45px;
      }

      & img {
        width: 360px;
      }
    }
  }
  @media (max-width: 850px) {
    .slider .slick-arrow {
      top: 160px;
    }
  }
  @media (max-width: 800px) {
    .slider .slick-arrow {
      top: 140px;
    }

    .slider {
      width: 80%;

      & .slide__title {
        font-size: 35px;
        padding-bottom: 20px;
      }

      & .slide__text {
        font-size: 12px;
        line-height: 15px;
      }

      & img {
        width: 300px;
      }
    }
  }
  @media (max-width: 660px) {
    .slider {
      & img {
        width: 250px;
      }
    }
  }
  @media (max-width: 585px) {
    .slider__items {
      justify-content: center;
    }

    .slide__desc {
      display: none;
    }
  }
}
