.order {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  grid-gap: 30px;
}

.form-order {
  display: grid;
  grid-template-rows: repeat(6, max-content);
}

.form-order__date {
  display: grid;
  grid-auto-flow: column;
}

.form-order__personal-data {
  display: grid;
  grid-auto-flow: column;
}

.form-order__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 30px;
}

.form-order__subtitle {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 60px;
  line-height: 25px;
}

.order__text-style {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #666666;
  padding-bottom: 12px;
}

.order__input-style {
  width: 310px;
  height: 42px;
  background-color: #efefef;
  border: 2px solid #d6d6d6;
  margin-right: 26px;
  font-style: italic;
  margin-bottom: 36px;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;

  &:focus {
    border: 2px solid #c59d5f;
  }
}

.order__custome-style1 {
  width: 651px;
}

.order__custome-style2 {
  width: 651px;
  height: 98px;
  resize: none;
}

.price-order {
  background-image: url("../images/bg3.jpg");
  background-repeat: round;
  width: 457px;
  height: 653px;
}

.price-order {
  display: grid;
  grid-template-rows: repeat(8, max-content);
  justify-items: center;
  // align-content: center;
}

.prise-order__title {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 31px;
  font-weight: bold;
  padding-bottom: 55px;
  padding-top: 80px;

  & span {
    color: #c59d5f;
  }
}

.prise-order__title2 {
  padding-top: 40px;
}

.price-order__text {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  padding-top: 10px;
  margin: 0;
  grid-gap: 0;
  padding-bottom: 30px;

  & .fa-times {
    background-color: red;
    border-radius: 100%;
    width: 16px;
    height: 17px;
    margin-right: 11px;
    text-align: center;
  }
}

.before-line {
  border-top: 1px solid #515151;
  width: 351px;
  margin-top: 25px;
}

.btn1 {
  width: 165px;
  height: 46px;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: #888888;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  // padding-bottom: 10px;
  // margin-top: 33px;
  & .fa-times {
    padding-right: 8px;
  }
}

.btn2 {
  width: 165px;
  height: 46px;
  background-color: #c59d5f;
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  // margin-top: 33px;
  & .fa-check {
    padding-right: 8px;
  }
}
